// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&sk {
    quick-release;
};

/ {
    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hm_r: homerow_mod_r {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_MOD_R";
            #binding-cells = <0>;
            bindings = <&hm LGUI R>, <&kp R>;
            mods = <(MOD_RCTL|MOD_RALT|MOD_RGUI)>;
            keep-mods = <(MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };
          
        hm_s: homerow_mod_s {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_MOD_S";
            #binding-cells = <0>;
            bindings = <&hm LALT S>, <&kp S>;
            mods = <(MOD_RCTL|MOD_RALT|MOD_RGUI)>;
            keep-mods = <(MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };
          
        hm_t: homerow_mod_t {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_MOD_T";
            #binding-cells = <0>;
            bindings = <&hm LCTRL T>, <&kp T>;
            mods = <(MOD_RCTL|MOD_RALT|MOD_RGUI)>;
            keep-mods = <(MOD_RCTL|MOD_RALT|MOD_RGUI)>;
        };
          
        hm_n: homerow_mod_n {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_MOD_N";
            #binding-cells = <0>;
            bindings = <&hm RCTRL N>, <&kp N>;
            mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
            keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
        };
          
        hm_e: homerow_mod_e {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_MOD_E";
            #binding-cells = <0>;
            bindings = <&hm RALT E>, <&kp E>;
            mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
            keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
        };
          
        hm_i: homerow_mod_i {
            compatible = "zmk,behavior-mod-morph";
            label = "HOMEROW_MOD_A";
            #binding-cells = <0>;
            bindings = <&hm RGUI I>, <&kp I>;
            mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
            keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>;
        };

        td_reset: tap_dance_reset {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_RESET";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&none>, <&sys_reset>;
        };

        td_bootloader: tap_dance_bootloader {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_BOOTLOADER";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&none>, <&bootloader>;
        };

        td_bt_clear: tap_dance_bluetooth_clear {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_BLUETOOTH_CLEAR";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&none>, <&none>, <&bt BT_CLR>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮   ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮
        //│  W              │  L              │  Y              │  P              │  B              │   │  Z              │  F              │  O              │  U              │  ; :            │
            &kp W             &kp L             &kp Y             &kp P             &kp B                 &kp Z             &kp F             &kp O             &kp U             &kp SEMI
        //├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
        //│  C              │  R              │  S              │  T              │  G              │   │  M              │  N              │  E              │  I              │  A              │
            &kp C             &hm_r             &hm_s             &hm_t             &kp G                 &kp M             &hm_n             &hm_e             &hm_i             &kp A
        //├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
        //│  Q              │  J              │  V              │  D              │  K              │   │  X              │  H              │  , <            │  . >            │  / ?            │
            &kp Q             &kp J             &kp V             &kp D             &kp K                 &kp X             &kp H             &kp COMMA         &kp DOT           &kp FSLH
        //╰─────────────────┴─────────────────┴─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┴─────────────────┴─────────────────╯
        //                                                      │  LAYER 2        │  SPACE          │   │  LAYER 1        │  SHIFT          │
                                                                  &sl 2             &kp SPACE             &sl 1             &sk RSHFT
        //                                                      ╰─────────────────┴─────────────────╯   ╰─────────────────┴─────────────────╯
            >;
        };

        symbols_layer {
            bindings = <
        //╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮   ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮
        //│  TAB            │  @              │  {              │  }              │                 │   │                 │  ` ~            │  \              │  #              │  BSPC           │
            &kp TAB           &kp AT            &kp LBRC          &kp RBRC          &none                 &none             &kp GRAVE         &kp BSLH          &kp HASH          &kp BSPC
        //├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
        //│  ESCAPE         │  _              │  (              │  )              │                 │   │                 │  '              │  |              │  &              │  ENTER          │
            &kp ESC           &hm LGUI UNDER    &hm LALT LPAR     &hm LCTRL RPAR    &none                 &none             &hm RCTRL SQT     &hm RALT PIPE     &hm RGUI AMPS     &kp ENTER
        //├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
        //│                 │  $              │  [              │  ]              │                 │   │                 │  "              │  !              │  ^              │                 │
            &none             &kp DLLR          &kp LBKT          &kp RBKT          &none                 &none             &kp DQT           &kp EXCL          &kp CARET         &none
        //╰─────────────────┴─────────────────┴─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┴─────────────────┴─────────────────╯
        //                                                      │  LAYER 3        │  SPACE          │   │  TRANSPARENT    │  TRANSPARENT    │
                                                                  &sl 3             &kp SPACE             &trans            &trans
        //                                                      ╰─────────────────┴─────────────────╯   ╰─────────────────┴─────────────────╯
            >;
        };

        numbers_layer {
            bindings = <
        //╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮   ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮
        //│  TAB            │  %              │  /              │  *              │                 │   │                 │  7              │  8              │  9              │  BSPC           │
            &kp TAB           &kp PRCNT         &kp FSLH          &kp ASTRK         &none                 &none             &kp N7            &kp N8            &kp N9            &kp BSPC
        //├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
        //│  ESCAPE         │  -              │  +              │  =              │                 │   │                 │  4              │  5              │  6              │  ENTER          │
            &kp ESC           &hm LGUI MINUS    &hm LALT PLUS     &hm LCTRL EQUAL   &none                 &none             &hm RCTRL N4      &hm RALT N5       &hm RGUI N6       &kp ENTER
        //├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
        //│                 │                 │                 │  0              │                 │   │                 │  1              │  2              │  3              │                 │
            &none             &none             &none             &kp N0            &none                 &none             &kp N1            &kp N2            &kp N3            &none
        //╰─────────────────┴─────────────────┴─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┴─────────────────┴─────────────────╯
        //                                                      │  TRANSPARENT    │  TRANSPARENT    │   │  TRANSPARENT    │  TRANSPARENT    │
                                                                  &trans            &trans                &trans            &trans
        //                                                      ╰─────────────────┴─────────────────╯   ╰─────────────────┴─────────────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮   ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮
        //│  TAB            │                 │                 │                 │  BOOTLOADER     │   │  HOME           │  PG DOWN        │  PG UP          │  END            │  BSPC           │
            &kp TAB           &none             &none             &none             &td_bootloader        &kp HOME          &kp PG_DN         &kp PG_UP         &kp END           &kp BSPC
        //├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
        //│  ESCAPE         │                 │                 │                 │                 │   │  LEFT           │  DOWN           │  UP             │  RIGHT          │  ENTER          │
            &kp ESC           &none             &none             &none             &none                 &kp LEFT          &kp DOWN          &kp UP            &kp RIGHT         &kp ENTER
        //├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
        //│                 │                 │                 │                 │  RESET          │   │                 │                 │                 │                 │                 │
            &none             &none             &none             &none             &td_reset             &none             &none             &none             &none             &none
        //╰─────────────────┴─────────────────┴─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┴─────────────────┴─────────────────╯
        //                                                      │  TRANSPARENT    │  TRANSPARENT    │   │  TRANSPARENT    │  TRANSPARENT    │
                                                                  &trans            &trans                &trans            &trans
        //                                                      ╰─────────────────┴─────────────────╯   ╰─────────────────┴─────────────────╯
            >;
        };
    };
};
